<%# Partial used for form "Add a new car" %>

<div id="<%= dom_id car %>">
  <p>
    <strong>Brand:</strong>
    <%= car.brand %>
  </p>
  
  <p>
    <strong>Model:</strong>
    <%= car.carmodel %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= car.body %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= car.price %>
  </p>

</div>
