<p style="color: green"><%= notice %></p>

<%= render @car %>

<div>
  <%# if current_user %>
    <% if current_user.admin? %>
        <p>You are admin. You can add and edit</p>
        <%= link_to "Edit this car", edit_car_path(@car) %> |
        <%= link_to "Back to cars", cars_path %>
        <%= button_to "Destroy this car", @car, method: :delete %>
      <% else %> 
      <%= link_to "Back to cars", cars_path %>       
    <% end %>    
  <%# end %>
</div>

<h2>Comments</h2>
<%= render @car.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>